@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: Montserrat;
    font-size: 20px;

}

h1,
h2,
h3 {
    color: greenyellow;
}



h1 {
    margin-bottom: 20px;
    font-size: 50px;
}

h2 {
    margin-bottom: 20px;
}

.container {
    margin: 20px auto 0 auto;
    width: 1140px;
}

.main-text {
    margin-bottom: 20px;
    text-align: justify;
}

.blog-post {
    padding: 10px;
    width: 75%;
    float: left;
    position: relative;
}

.blog-post img {
    width: auto;
    height: 200px;
}

.author-box {
    border-top: solid 1px rgb(165, 163, 163);
    padding-top: 20px;
}

.author-text {
    margin-top: 10px;
    font-size: 22px;
    float: left;
    margin-top: 40px;
    margin-left: 20px;
}

.author-box img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float: left;
}

